@{
    Layout = "_Layout";
}
<form>
    <div class="container">
        <div class="row">
            <label>Aramak İstediğiiz Kelime Giriniz</label>
            <input type="text" />
            <input type="submit" value="Ara" />
        </div>
    </div>
</form>
<h3 style="color:white">Metinde Arama</h3> 