<!doctype html>
<html lang="en" dir="ltr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="msapplication-TileColor" content="#0061da">
    <meta name="theme-color" content="#1643a3">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="HandheldFriendly" content="True">
    <meta name="MobileOptimized" content="320">
    <link rel="icon" href="favicon.ico" type="image/x-icon">
    <link rel="shortcut icon" type="image/x-icon" href="favicon.ico">

    <!-- Title -->
    <title>adminor – Clean & Modern Responsive Bootstrap 4 admin dashboard HTML5 Template.</title>

    <partial name="_Stiller" />
   @await RenderSectionAsync("StilEkleme",required:false)

</head>
<body class="">
    <div id="global-loader"></div>
    <div class="page">
        <div class="page-main">

            <partial name="_Header">


                <div class="wrapper">
                    <!-- Sidebar Holder -->
                    <partial name="_SideMenu" />
                    <div class=" content-area">
                        @RenderBody()
                    </div>
                </div>
        </div>

        <!--footer-->
        <partial name="_Footer" />
        <!-- End Footer-->
    </div>

    <!-- BAck to top -->
    <a href="#top" id="back-to-top" style="display: inline;"><i class="fa fa-angle-up"></i></a>
    <partial name="_Jsler" />

    @await RenderSectionAsync("JsEkleme", required: false)
</body>
</html>