<nav id="sidebar" class="nav-sidebar">
    <ul class="list-unstyled components" id="accordion">
        <div class="user-profile">
            <div class="dropdown user-pro-body">
                <div><img src="~/admintmp/assets\images\faces\female\25.jpeg" alt="user-img" class="img-circle"></div>
                <div class="mb-2">
                    <a href="#" class="" data-toggle="" aria-haspopup="true" aria-expanded="false"> <span class="font-weight-semibold">Joyce Stewart</span>  </a>
                    <br><span class="text-gray">Web Designer</span>
                </div>
            </div>
        </div>


        <li>
            <a asp-controller="Home" asp-action="Index" class=" wave-effect"><i class="fa fa-cubes mr-2"></i> ANASAYFA</a>
        </li>
        <li class="">
            <a href="#pages" class="accordion-toggle wave-effect" data-toggle="collapse" aria-expanded="false">
                <i class="mdi mdi-file mr-2"></i> ALGORİTMALAR
            </a>
            <ul class="collapse list-unstyled" id="pages" data-parent="#accordion">
                <li>
                    <a asp-controller="Algoritma" asp-action="MetindeArama">Metinde Arama</a>
                </li>
                <li>
                    <a asp-controller="Ogrenci" asp-action="AddStudent">Öğrenci Ekle</a>
                </li>
            </ul>
        </li>

        <li class="">
            <a href="#ogrenci" class="accordion-toggle wave-effect" data-toggle="collapse" aria-expanded="false">
                <i class="mdi mdi-file mr-2"></i> ÖĞRENCİ
            </a>
            <ul class="collapse list-unstyled" id="ogrenci" data-parent="#accordion">
                <li>
                    <a asp-controller="Students" asp-action="Index">Listele</a>
                </li>
                <li>
                    <a asp-controller="Students" asp-action="Create">Ekle</a>
                </li>
                
            </ul>
        </li>

    </ul>
</nav>