@{Layout = "_Layout";}



<div class="page-header">
    <h4 class="page-title">Öğrenci Yönetimi</h4>
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index">ANASAYFA</a></li>
        <li class="breadcrumb-item active" aria-current="page">Öğrenci Ekle</li>
    </ol>
</div>
<div class="row row-deck">
    <div class="col-12">
        <form asp-controller="Student" asp-action="Ekle" method="post" class="card">
            <div class="card-header">
                <h3 class="card-title">Öğrenci Ekle</h3>
            </div>
            <div class="card-body">
                <div class="form-group">
                    <label class="form-label">İlk ve İkinci Adı</label>
                    <input type="text" class="form-control" name="NameAndSecondName" placeholder="Örnek : Ahmet Can">
                </div>

                <div class="form-group">
                    <label class="form-label">Soyisim</label>
                    <input type="text" class="form-control" name="SurName" placeholder="Örnek : Namıkoğlu">
                </div>

                <div class="form-group">
                    <label class="form-label">Cep Telefonu</label>
                    <input type="text" class="form-control" name="Mobile" placeholder="Örnek : 0530 967 56 16">
                </div>


                <div class="form-group">
                    <label class="form-label">Cinsiyet</label>
                    
                    <select name="GenderList" class="form-control custom-select" asp-items="ViewBag.GenderList"></select>
                </div>

            </div>
            <div class="card-footer text-right">
                <div class="d-flex">
                    <a href="javascript:void(0)" class="btn btn-link">İPTAL</a>
                    <button type="submit" class="btn btn-primary ml-auto">KAYDET</button>
                </div>
            </div>
        </form>
    </div>
   
</div>
